/* 亮色主题变量 */
:root {
  --background-color: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 100%);
  --container-bg-color: #ffffff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #333333;
}

/* 暗色主题变量 */
html.dark {
  --background-color: linear-gradient(135deg, #1e1e2e 0%, #2b2b3b 100%);
  --container-bg-color: #2f2f2f;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --text-color: #eeeeee;
}
